 *{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    width: 100%;
}

main{
    margin: auto;
    max-width: 80rem;
    min-height: 82vh;
    padding: 2em;
    /* border: 1px solid #333; */
}


h1{
    font-size: 2em;
    color: #333;
    margin-bottom: 30px;
    /* border: 1px solid #333; */
}

.cart-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    /* border: 1px solid #333; */
}

#table-header{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: #f1f1f1;
    border-radius: 10px;
    margin-bottom: 10px;
}

#table-header th{
    font-size: 1em;
    color: #333;
    width: 10rem;
}

#product-row{
    display: flex;;
    justify-content: space-between;
    padding: 1em;
    background-color: #f1f1f1;
    border-radius: 10px;
    margin-bottom: 10px;
}

#img-td{
    width: 1rem;
}


#cart-empty-text{
    font-size: 2rem;
    margin-top: 10px;
    color: #333;
    padding-left: 1em;
}

#continue-shopping-text{
    font-size: 1.5rem;
    margin-top: 15px;
    /* color: #333; */
    padding-left: 1.5em;
}









